*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP
-A INPUT -p icmp -m icmp --icmp-type 8 -m limit --limit 2/sec -j ACCEPT
-A INPUT -p tcp -m multiport --dports {{ firewall_opentcpports }} -j ACCEPT
-A INPUT -s {{ firewall_knownnets }} -j ACCEPT
{% if firewall_exceptions is defined %}
{% for exception in firewall_exceptions %}
-A INPUT -s {{ exception.source_address }} -p {{ exception.protocol }} --dport {{ exception.dport }} -j {{ exception.action }}
{% endfor %}
{% endif %}
COMMIT
